<a href='/'>Homepage</a>

<h1>Jaws</h1>
<h2>Full Name</h2>
<p>Jaws is a Shark</p>
<h2>Short Description</h2>
<p>Sharks are a group of fish characterized by a cartilaginous skeleton, five to seven gill slits on the sides of the head, and pectoral fins that are not fused to the head. Modern sharks are classified within the clade Selachimorpha (or Selachii) and are the sister group to the rays. However, the term "shark" has also been used for extinct members of the subclass Elasmobranchii outside the Selachimorpha, such as Cladoselache and Xenacanthus. Under this broader definition, the earliest known sharks date from more than 420 million years ago.</p>
<h2>Image</h2>
<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/b/bb/Tibur%C3%B3n.jpg/250px-Tibur%C3%B3n.jpg"/>
<h2>Water Type</h2>
<p>Salt Water</p>

<a href="http://en.wikipedia.org/wiki/Shark">Link to Jaws (aka Shark) Wikipedia</a>