<a href='/'>Homepage</a>

<h1>Nemo</h1>
<h2>Full Name</h2>
<p>Nemo is a Clown Fish</p>
<h2>Short Description</h2>
<p>Clownfish or anemonefish are fishes from the subfamily Amphiprioninae in the family Pomacentridae. Thirty species are recognized, one in the genus Premnas, while the remaining are in the genus Amphiprion. In the wild, they all form symbiotic mutualisms with sea anemones. Depending on species, Clownfish are overall yellow, orange, or a reddish or blackish color, and many show white bars or patches. The largest can reach a length of 18 centimetres (7.1 in), while the smallest barely can reach 10 centimetres (3.9 in).</p>
<h2>Image</h2>
<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/f/f6/Clown_fish_in_the_Andaman_Coral_Reef.jpg/250px-Clown_fish_in_the_Andaman_Coral_Reef.jpg" alt="Clown Fish" />
<h2>Water Type</h2>
<p>Salt Water</p>

<a href="http://en.wikipedia.org/wiki/Clown_fish">Link to Clown Fish Wikipedia</a>